.input {
  width: 100%;
  
  padding: 1.6rem;

  color: var(--gray-300);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%; /* 2.24rem */

  border-radius: 0.8rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
}

.input:focus {
  color: var(--gray-100);
  outline: 2px solid var(--purple-dark);
}