.wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 68rem;
  
  flex: 1;
}

.addTask {
  display: flex;
  flex: 1;
  gap: 0.8rem;

  transform: translateY(-50%);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.tasks div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}